@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 1.6 rem;
    position: relative;
}

/* button:focus{
    box-shadow: none;
    outline: 0 !important;
} */

.hero-shadow{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5) ;
    z-index: -1;
}

.orange-color{
    color: rgb(255,102,0)
}

.scroll-fix::before {
    display: block;
    margin-top: -3rem;
    height: 3rem;
    content: "";
}

/* NAWIGACJA */
.navbar-brand{
    font-size: 2.2rem;
    font-weight: bold;
}

nav .navbar-nav, nav .fa-bars{
font-size: 1.8rem;
text-transform: uppercase;
}

nav .fa-bars{
    padding: 1rem 2rem;
}
/* HEADER */
header{
    position: relative;
    height: 60rem;
    background-image: url('img/tree.jpg');
    background-position: center;
    background-size: cover;
    z-index: 0;
}

header .btn{
    font-size: 1.4rem;
    text-transform: uppercase;
    padding: 1rem 2rem;
}
.header-text{
    font-size: 2.2rem;
}

/* ABOU US */
.about-boxes h3{
    font-size: 2.4rem;
    font-weight: bold;
    text-transform: uppercase;
}
.about-icon{
    font-size: 3rem;
}

#aboutus .btn-block{
    font-size: 1.8rem;
}

/* TEAM */

#team{
    padding: 8rem 0;
    background-color: rgb(248, 248, 248) ;
}

#team .card-img-top{
    height: 300px;
    object-fit: cover;
}

#team .card-body{
    height: 80px;
}

/* CONTACT */

#contact h3{
    font-weight: bold;
    font-size: 2.2rem;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
}

#contact .contact-info .fas{
    margin-right: .5rem;
    font-size: 2rem;
    font-weight: bold;

}

#contact .submit-btn{
    font-size: 1.6rem;
}

#contact .input-group-lg>.custom-select,
#contact .input-group-lg>.form-control:not(textarea){
    height: calc(1.5em + 2rem + 2px);
}

